<div class="container">
    <div class="box">
      <img src="https://vscode.dev/github/MiftahulAsraf/portofolio-asraf/blob/main/public/test.jpeg" alt="Image 1">
      <p>Description for image 1</p>
      <div class="tags">
        <span class="tag">Tag1</span>
        <span class="tag">Tag2</span>
      </div>
    </div>
  
    <div class="box">
      <img src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcTy98t5TERYcuXR_KI_0pzccxHBX5nJrdqkuKK1OZjLHFKn_2min37r3UDduHr-A-hg1mkGL-qYH1lCgKw" alt="Image 2">
      <p>Description for image 2</p>
      <div class="tags">
        <span class="tag">Tag1</span>
        <span class="tag">Tag2</span>
      </div>
    </div>
  </div>