<div class="container col-12">
  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">Branch Admin Bank Mandiri
    </p>
    <p>This Project is Admin Application for Bank Branch or we called BDS(Branch Digital System)
    </p>
    <img src="branch.jpeg" alt="Image 2">
    <img src="branch2.jpeg" alt="Image 2">
    <div class="tags">
    <span class="tag">Angular</span>
    <span class="tag">Bitbucket, Jira, Confluence</span>
    <span class="tag">NodeJs</span>
    </div>
  </div>

  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">Eform Bank Mandiri
    </p>
    <p>This Project is an Application for Branch focusing on Customer to do all their transaction from before using paper now using app
    </p>
    <img src="eform.jpeg" alt="Image 2">
    <img src="eform2.jpeg" alt="Image 2">
    <div class="tags">
    <span class="tag">Angular</span>
    <span class="tag">Bitbucket, Jira, Confluence</span>
    <span class="tag">NodeJs</span>
    </div>
  </div>

  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">wordpress company portal for send CV
    </p>
    <p>in this project its an individual
    </p>
    <img src="wordpress company portal.png" alt="Image 2">
    <div class="tags">
      <span class="tag">wordpress</span>
    </div>
  </div>

  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">Prototype of Vue with Chat Feature Vendor (CometChat)
    </p>
    <p>in this project, i try to implementing or making the prototype of application if using cometChat
    </p>
    <img src="cometchat.png" alt="Image 2">
    <div class="tags">
      <span class="tag">VueJs</span>
    </div>
  </div>

  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">Aiforesee Scoring Application
    </p>
    <p>in this app i only creating few feature/menu <a href="http://aiforesee.com">aiforesee.com</a>
    </p>
    <img src="aiforesee 2.png" alt="Image 2">
    <div class="tags">
      <span class="tag">VueJs</span>
    </div>
  </div>

  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">Aiforesee Company Profile Website 2021
    </p>
    <p>This is My Individual work at <a href="http://aiforesee.com">aiforesee.com</a>
    </p>
    <img src="aiforesee.png" alt="Image 2">
    <div class="tags">
      <span class="tag">Html</span>
      <span class="tag">Css</span>
    </div>
  </div>

  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">Remuner Technical Implementing Unit Andalas
      University
    </p>
    <p>This is Team Project consist of 2 person</p>
    <img src="login.png" alt="Image 2">
    <img src="livewire.png" alt="Image 2">
    <img src="pegawai livewire.png" alt="Image 2">
    <img src="112.png" alt="Image 2">
    <img src="history.png" alt="Image 2">
    <div class="tags">
      <span class="tag">PHP (Framework Livewire)</span>
      <span class="tag">MySQL</span>
      <span class="tag"> VisualCode Studio, Xampp, TailwindCSS,
        AlpineJs, Laravel-WebSockets.</span>
      <span class="tag">March 2021 - May 2021</span>
    </div>
  </div>

  <div class="box">
    <p style="font-weight: bold; font-size: 20px;">Information System of Seira Healthcare Perbaungan</p>
    <p>This is Individual Project</p>
    <img src="login-seyra.png" alt="Image 1">
    <img src="admin-seyra.png" alt="Image 1">
    <img src="registrasi.png" alt="Image 1">
    <img src="konsultasi.png" alt="Image 1">
    <img src="dashboard dokter.png" alt="Image 1">
    <img src="list.png" alt="Image 1">
    <img src="print.png" alt="Image 1">
    <div class="tags">
      <span class="tag">PHP (Framework Laravel)</span>
      <span class="tag">MySQL</span>
      <span class="tag">VisualCode Studio, Xampp, Bootstrap</span>
      <span class="tag">September 2020 - February 2021</span>
    </div>
  </div>
</div>